.card-container {
  inline-size: 21.8rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2.13rem;
  margin-block-end: 4.73rem
}

.card {
  padding: 2.07rem 1.93rem;
  background-color: #fff;
  border-radius: 0.66rem;
  box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);
}

.card:nth-child(even) {
  background: var(--linearGradient);
  color: var(--white);
}

.card-header h4 {
  margin: 0;
  font: var(--title);
  text-align: center;
  color: var(--grayishBlue);
}

.card-title {
  margin-block-start: 1.6rem;
  margin-block-end: 2.13rem;
  font: var(--dollar);
  color: var(--darkGrayishBlue);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.card-title span {
  font: var(--price);
  letter-spacing: -1.2px;
}

.list-feature {
  margin: 0;
  list-style: none;
  padding: 0;
}

.list-feature li {
  padding: 0.8rem 0;
  color: var(--grayishBlue);
  text-align: center;
  border-top: 1px solid var(--lightGrayishBlue);
}

.list-feature li:last-child {
  border-bottom: 1px solid var(--lightGrayishBlue);
}

.card:nth-child(even) .card-header h4,
.card:nth-child(even) .card-title,
.card:nth-child(even) .list-feature li {
  color: inherit;
}

.card:nth-child(even) .list-feature li {
  border-top: 1px solid var(--lightGrayishBlue);
}

.card:nth-child(even) .list-feature li:last-child {
  border-bottom: 1px solid var(--lightGrayishBlue);
}