.pricing-header {
  /* border: 1px solid red; */
  inline-size: 15.93rem;
  margin: 4.26rem auto 5.33rem auto;
}

.pricing-header h1 {
  font: var(--heading1);
  margin-block-start: 0;
  margin-block-end: 2.66rem;
  color: var(--darkGrayishBlue);
  text-align: center;
}

.pricing-header .plan {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.pricing-header span {
  color: var(--lightGrayishBlue);
}

.form-check-input {
  display: none;
}

.form-check-label {
  --right-pseudo: 0.26rem;
  inline-size: 3.73rem;
  block-size: 2.13rem;
  display: block;
  background: var(--linearGradient);
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
  pointer-events: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.form-check-label:hover {
  background: var(--lightGrayishBlue);
}

.form-check-label::before {
  content: '';
  position: absolute;
  inset-inline-end: var(--right-pseudo);
  inset-block-start: 0.26rem;
  inline-size: 1.6rem;
  block-size: 1.6rem;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

@media screen and (min-width: 1024px) {
  
  .pricing-header {
    margin: 0 auto
  }

  .pricing-header h1 {
    margin-block-end: 1rem;
  }
}